@tailwind components;
@tailwind utilities;


[aria-expanded="true"] .menu-state-indicator  {
    transform: rotate(-180deg);
}

.menu-state-indicator {
    transition: transform .2s ease;
}



table.docutils {
  clear: left;
  float: left;
  margin: 0 1rem 1rem;
}

/* theme customization */

html[data-theme="dark"] {
  --color-background-primary: #18181b;
  --color-background-secondary: #27272a;
  --pst-color-on-background: #27272a;
  --pst-color-border: #2f2f2f;
  --pst-color-text-muted: #f3f4f6;
}

html[data-theme="light"] {
  --color-background-primary: #f8f9fb;
  --color-background-secondary: #fff;
  --pst-color-text-muted: #111827;
}

html[data-theme="light"],
html[data-theme="dark"] {
  --pst-color-background: var(--color-background-primary);
  --litestar-gold: #EDB641;
  --pst-color-primary: var(--litestar-gold);
}

h1, h2 {
  color: unset;
}

@media (min-width: 960px) {
  .bd-page-width {
    max-width: 100rem;
  }
}

.bd-sidebar-primary {
  display: block;
  flex: 0 0 18%;
}

.bd-header .navbar-nav .nav-item {
  font-weight: 600;
}

.bd-content,
.bd-sidebar-secondary {
  background-color: var(--color-background-secondary);
}

.sd-tab-content {
  box-shadow: 0 -0.0625rem var(--sd-color-tabs-overline);
}

div.literal-block-wrapper,
pre {
  border: none;
}

.code-block-caption {
  background-color: var(--pst-color-surface);
}

.navbar-persistent--mobile {
  margin-left: unset;
}

.navbar-persistent--mobile:last-of-type {
  padding-left: 1rem;
}

#navbar-icon-links a {
  padding-top: 0.2rem;
}
